<div class="container-fluid">
	<div class="jumbotron">
		<h1 align="center">Welcome to Blocmetrics!</h1>
			<h3 align="center"><%= link_to "Get Started", "", class: 'btn btn-success'%></h3>
	</div>
</div>

